@media (max-width: 991px) {
    .container {
        max-width: 865px;
    }
    .advantages {
        &__descr {
            font-size: 13px;
        }
    }
}

@media (max-width: 768px) {
    .container {
        width: 540px;
    }
    .advantages {
        &__descr {
            font-size: 12px;
        }
        &__subtitle {
            font-size: 15px;
        }
    }
}