@media (max-width: 991px) {
    .container {
        max-width: 865px;
    }
    .advantages {
        &__descr {
            font-size: 13px;
        }
    }
}

@media (max-width: 768px) {
    .container {
        width: 540px;
    }
    .advantages {
        &__descr {
            font-size: 12px;
        }
        &__subtitle {
            font-size: 15px;
        }
    }
}

@media (max-width: 575px) {
    .container {
        width: 100%;
    }
    .advantages {
        &__wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &__descr {
            display: none;
        }
        &__subtitle {
            font-size: 20px;
        }
    }
}