@media (max-width: 768px) {
    .catalog {
        &__tabs {
            display: flex;
            justify-content: space-around;
        }
        &__tab {
            width: 170px;
            height: 45px;
            font-size: 16px;
            line-height: 45px;
        }
    }
}