@media (max-width: 1200px) {
    .container {
        max-width: 900px;
    }
}

@media (max-width: 991px) {
    .container {
        max-width: 680px;
    }
}

@media (max-width: 768px) {
    .consultation {
        background: url('../../../img/consult_bg.png') center (center/cover) no-repeat;
    }
    .button {
        &_submit {
            width: 303px;
            font-size: 16px;
        }
    }
}

@media (max-width: 575px) {
    .consultation {
        background: url('../../../img/consult_bg.jpg') center (center/cover) no-repeat;
        &__descr {
            margin-left: 10px;
            font-size: 18px;
            line-height: 22px;
        }
    }
    .title {
        &_left {
            margin-left: 10px;
            font-size: 30px;
        }
    }
    input {
        margin-left: 10px;
    }
    .button {
        &_submit {
            margin-left: 10px;
            width: 293px;
        }
    }
}