@media (max-width: 768px) {
    .footer {
        &__info {
            height: 244px;
            width: 352px;
            padding: 35px 60px;
        }
        &__addr {
            font-size: 17px;
        }
        &__phone {
            font-size: 17px;
        }
        &__social-item {
            width: 46px;
            height: 45px;
        }
    }
}

@media (max-width: 575px) {
    .footer {
        &__info {
            height: 170px;
            width: 320px;
            padding: 0 10px;
        }
        &__addr {
            padding-top: 5px;
            font-size: 14px;
        }
        &__phone {
            margin-bottom: 30px;
            font-size: 14px;
        }
        &__social-item {
            width: 46px;
            height: 45px;
            img {
                height: 24px;
            }
        }
    }
}