@media (max-width: 1200px) {
    .container {
        width: 750px;
    }
    .header {
        width: 100%;
    }
    .promo {
        background: url('../../../img/bg.png');
        &__header {
            font-size: 36px;
        }
        &__subheader {
            font-size: 20px;
            line-height: 16px;
        }
        &__icons {
            width: 350px;
        }
        .button {
            &_main {
                margin-top: 60px;
                width: 290px;
            }
        }
    }
    .advantages {
        &__subtitle {
            font-size: 16px;
            margin-top: 32px;
        }
        &__descr {
            margin-top: 10px;
        }
    }
}

@media (max-width: 991px) {
    .container {
        width: 620px;
    }
    .advantages {
        &__item {
            max-width: 186px;
        }
    }
}

@media (max-width: 767px) {
    .container {
        width: 520px;
    }
    .promo {
        height: 500px;
        background: url('../../../img/bg.png');
        &__icons {
            width: 333px;
            margin-top: 40px;
        }
        &__header {
            font-size: 34px;
        }
        &__subheader {
            font-size: 19px;
        }
        .button {
            &_main {
                margin-top: 80px;
                width: 245px;
                font-size: 14px;
            }
        }
    }
    .header {
        img {
            padding-left: 25px;
        }
        &__official {
            margin-left: 80px;
        }
        &__phone {
            display: none;
        }
        .button {
            display: none;
        }
    }
}

@media (max-width: 575px) {
    .container {
        max-width: 320px;
    }
    .header {
        &__logo {
            img {
                margin-top: 20px;
                width: 60%;
            }
        }
        &__official {
            display: none;
        }
        &__contacts {
            display: none;
        }
    }
    .promo {
        padding: 5px 0 10px 0;
    }
}